.window {
   
    background-color: #1b1b1b;
    border-radius: 0.75rem;
    overflow: hidden;
    height:100%;

    color:rgba(188, 188, 188, 0.879);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    
    .nav{
        padding-inline: 0.75rem;
        padding-block: 0.4rem;
        display: flex;
        align-items: center;
        gap:1.5rem;
        border-bottom: 1px solid #c6c6c662;

        .dots{
            display: flex;
            gap:0.25rem;

            .dot{
                height:15px;
                width:15px;
                background-color: #fff;
                border-radius: 50%;
            }

            .red{
                background-color:#db0f0f ;
            }
            .yellow{
                background-color: #dfd508;
            }
            .green{
                background-color: #20c707;
            }
        }
        
    }

    .main-content{
        height: 100%;
    }
}