.nav{
    width:100%;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-inline: 0.75rem;
    padding-block: 0.3rem;
    background-color: rgba(87, 87, 87, 0.308);
    backdrop-filter: blur(5px);

    display:flex;
    justify-content: space-between;

    .left{
        display: flex;
        gap:1rem;
    }

    .right{
        display:flex;
        gap:1rem;
    }
    
}