*{
    padding:0;
    margin:0;
    box-sizing: border-box;   
}
html,
body,
#root{
    height:100%;
    width:100%;
    background-color: rgb(18, 18, 18);
}
main{
    height:100%;
    width:100%;

    background-image: url(../images/wallpaper2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}